---
import Jumbotron from '@templates/Jumbotron';
---

<style lang="scss">
	@import './../styles/main.scss';
</style>

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<!-- section -->
		<Jumbotron/>		

		<!-- about -->

		<!-- playlist music -->

		<!-- maps & timeline -->

		<!-- optional: gallery -->

		<!-- story -->

		<!-- friends -->

		<!-- thankyou -->
	</body>
</html>